body.my-login-page {
	background-color: #f7f9fb;
	font-size: 14px;
	padding-top: 80px;
	min-height: calc(100vh - 60px)!important;
}
.h-100 {
	min-height: calc(100vh - 60px)!important;
}
.my-login-page .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	margin: 40px auto;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
}
.center
{
	padding-top: 50%
}
.my-login-page .brand img {
	width: 100%;
}

.my-login-page .card-wrapper {
	width: 400px;
}

.my-login-page .card {
	border-color: transparent;
	box-shadow: 0 0 50px rgba(0,0,0,.05);
}

.my-login-page .card.fat {
	padding: 10px;
}
.card {
    margin-bottom: 35px;
}

.my-login-page .card .card-title {
	margin-bottom: 30px;
}

.my-login-page .form-control {
	border-width: 2.3px;
}

.my-login-page .form-group label {
	width: 100%;
}

.my-login-page .btn.btn-block {
	padding: 12px 10px;
}

.my-login-page .margin-top20 {
	margin-top: 20px;
}

.my-login-page .no-margin {
	margin: 0;
}

.my-login-page .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}
.field-icon {
	float: right;
	margin-left: -25px;
	margin-right: 7px;

	margin-top: 10px;
	position: relative;
	z-index: 1;
  }
.custom-card-margin {
	margin-top: 30px;
}
.container{
	padding-top:50px;
	margin: auto;
  }
/* .fixed-layout .page-wrapper {
	padding-top: 65px;
} */